<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.ViewModels" version="1.0.16" targetFramework="net461" />
  <package id="Dragablz" version="0.0.3.175" targetFramework="net461" />
  <package id="FsCommonTypes.Core" version="1.0.9" targetFramework="net461" />
  <package id="FsCommonTypes.View.Wpf" version="1.0.16" targetFramework="net461" />
  <package id="FsCommonTypes.View.Wpf.SyncFusion" version="1.0.5" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="FSharp.ViewModule.Core" version="0.9.9.3" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.3.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.1.0.657" targetFramework="net461" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.8" targetFramework="net461" />
  <package id="Syncfusion.Calculate.Base46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.Data.WPF46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.DocIO.Base46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.Grid.WPF46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.GridCommon.WPF46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.Linq.Base46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.OfficeChart.Base46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.Pdf.Base46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.PivotAnalysis.Base46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.PivotAnalysis.Wpf46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.PivotGridConverter.Wpf46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.SfBusyIndicator.WPF46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.SfGrid.WPF46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.SfGridConverter.WPF46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.SfShared.WPF46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.SfSkinManager.WPF46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF46" version="14.4.0.15" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.Base46" version="14.4.0.15" targetFramework="net461" />
  <package id="WpfControls.AutoCompleteTextBox" version="1.0.0.7" targetFramework="net461" />
</packages>